<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Welcome</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ><a href="dirEtude">Directeur des Etudes</a></li>
					<li class="active"><a href="dirEtab">Directeur Etablisement</a></li>
					<li><a href="etudiant">Etudiants</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<form method="POST" action="http://localhost:8080/consultationProbleme">
	<input type="submit" name="Ok" value="Consultation" ></input>
	</form>
	
	<form method="POST" action="http://localhost:8080/creationInformation">
	<input type="submit" name="Ok" value="Informer tout les étudiants" ></input>
	</form>
	
	<form method="POST" action="http://localhost:8080/historiqueInformation">
	<input type="submit" name="Ok" value="Historique information" ></input>
	</form>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>